# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Logs
*.log

# Backups
*.sql
*.dump

# IDE
.vscode/
.idea/
